@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, sans-serif;
  background-color:#cdced8;
}