<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h1>
     	<a>Select teams&#58;</a>
    </h1>



    <form action='{{ url_for( 'result' ) }}' method="post">
		<h3>
	    <a>Home</a>
	    </h3>

	
	    <select name="hometeam" id="home" class="form-control">
	    	<optgroup label="Teams">
	    	<option>
	    	</option>
	    	{% for team in teams %}
	        <option>
	        	{{ team.team_name }}
	        </option>
	      	{% endfor %}
	      	</optgroup>
	    </select>
		

	    <h3>
	      <a>Away</a>
	    </h3>

	    
	    <select name="awayteam" id="away" class="form-control">
	    	<optgroup label="Teams">
	    	<option>
	    	</option>
	    	{% for team in teams %}
	        <option>
	        	{{ team.team_name }}
	        </option>
	    	{% endfor %}
	    	</optgroup>
	    </select>
		

	<br>
	<br>
	<br>

		<button type="submit" value="notsubmitted" name = "mainbutton" id="button">
			Get match prediction!
			<script>
			document.getElementById('button').onclick = function() 
			{
			    if (document.getElementById('home').value == "" || document.getElementById('away').value == "") 
			    {
			        window.alert("Please select home and away teams.");
			    } 
			    else if (document.getElementById('home').value == document.getElementById('away').value)
			    {
			    	window.alert("Please select two different teams"); 
			    }
			    else
			    {
			    	document.getElementById('button').value = "submitted"
			    	window.location.href='{{ url_for( 'result' ) }}';
			    }
			}
			</script>
		</button>
	</form>
</body>